<button (click)="toogleproduct()" class="btn btn-success">Products</button>
<ul *ngIf="toogle">
    <table class="table table-responsive">
    <thead class="thead-default">
    <tr>
      <th>Id</th>
      <th>name</th>
     </tr>
     </thead>
    <tr *ngFor="let product of productsList" (click)= "selectedProduct= product">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    </tr>
    </table>
    <h3> {{count}} Item added to cart</h3>           
    <button (click)="showDiv()" class="btn btn-success"> show </button>
    <div id="cartList"  style="display:none;" > 
    <table class="table">
    <tr>
      <th>Id</th>
      <th>name</th>
     </tr>
    <tr *ngFor="let product of cartAddedList ">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    </tr>
    </table>
    </div>    
</ul> 
     
<products-detail [detailProduct]= "selectedProduct" (deleterequest)= deleteProduct($event)
(addrequest)= addToCart($event)></products-detail>  


<form #form="ngForm" (ngSubmit)="submit(form)">

    <div class="form-group">
    <label for="product_name">Product Name</label>
    <input [(ngModel)]= "productToadd.name" required name="product_name" #productName="ngModel" (change)="log(productName)" 
    id="product_name" type="text" class="form-control">{{productToadd.name}}
  
    <div class="alert alert-danger" *ngIf="productName.touched && !productName.valid">
           You left the product empty
    </div>


    </div>
    <div class="form-group">
    <label for="Id">ID</label>
    <input [(ngModel)]= "productToadd.id" required name="product_Id" #productId="ngModel" (change)="log(productName)" 
    id="product_name" type="text" class="form-control">{{productToadd.Id}}
    </div>
    <button class="btn btn-primary">Add Product</button>
</form>